{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <title>Title</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS v5.2.1 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
        <!-- Bootstrap JavaScript Libraries -->
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"
        ></script>
        <link rel="stylesheet" href="{% static 'assets/css/templatemo-sixteen.css' %}">
        <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    </head>

    <body>
        <br>
        <div class="card text-center container" style="border: 2px solid green;">
            <h3 style="color: lightseagreen;">Transaction Completed</h3>
            <hr>
            <img src="{% static 'assets/images/success.png' %}" class="d-block mx-auto" alt="transaction success" style="max-width: 10%;">
            <br><br>
        </div><br><br>


        <div class="container">
            <h3>Product</h3>
            <hr style="border-width: 3px; background-color: black;"><br><br>
            <div class="row">
              
            <!-- Product Images -->

                <!-- First Image -->
                <div class="col-sm-2 d-flex gap-3">
                    
                    <div class="card btn btn-primary" style="display: inline-block;">
                        <img src="{{ value.image1.url }}" class="card-img-top" alt="{{ i.title }}" style="max-width: 100%; height: 200px;">
                    </div>
                </div>


                <!-- Second image -->
                <div class="col-sm-2 d-flex gap-3">
                    
                    <div class="card btn btn-primary" style="display: inline-block;">
                        <img src="{{ value.image2.url }}" class="card-img-top" alt="{{ i.title }}" style="max-width: 100%; height: 200px;">
                    </div>
                </div>


                <!-- Third Image -->
                <div class="col-sm-2 d-flex gap-3">
                    
                    <div class="card btn btn-primary" style="display: inline-block;">
                        <img src="{{ value.image3.url }}" class="card-img-top" alt="{{ i.title }}" style="max-width: 100%; height: 200px;">
                    </div>
                </div>


                <!-- Forth Image -->
                <div class="col-sm-2 d-flex gap-3">
                    
                    <div class="card btn btn-primary" style="display: inline-block;">
                        <img src="{{ value.image4.url }}" class="card-img-top" alt="{{ i.title }}" style="max-width: 100%; height: 200px;">
                    </div>
                </div>


                <!-- Fifth Image -->
                <div class="col-sm-2 d-flex gap-3">
                    
                    <div class="card btn btn-primary" style="display: inline-block;">
                        <img src="{{ value.image5.url }}" class="card-img-top" alt="{{ i.title }}" style="max-width: 100%; height: 200px;">
                    </div>
                </div>

            </div><br><br><br>

            <!-- Product Specification -->
            <div class="container">
            <h3>Product Details</h3>
            <hr style="border-width: 3px; background-color: black;"><br><br>

            <table>
                <tr>
                    <td class="w-50"><label for="">Order ID</label></td> 
                    <td><input type="text" class="form-control form-control-sm" value="{{value.odr_id}}" style="width: 500px;" disabled></td>
                </tr>
                <tr>
                    <td class="w-50"><label for="">Title</label></td> 
                    <td><input type="text" class="form-control form-control-sm" value="{{value.title}}" style="text-transform: capitalize; width: 500px;" disabled></td>
                </tr>

                <tr>
                    <td class="w-50"><label for="">Description</label></td>
                    <td><textarea rows="5" style="text-transform: capitalize;" class="form-control form-control-sm"  disabled>{{value.desc}}</textarea></td>
                </tr>
                <tr>
                    <td class="w-50"><label for="">Amount</label>
                    <td><input type="text" class="form-control form-control-sm" value="INR: {{value.prize}}" disabled></td>
                </tr>

            </table>
            </div><br><br>

            <!-- Seller details -->
            <div class="container">
                <h3>Seller Details</h3>
                <hr style="border-width: 3px; background-color: black;"><br>

                <table>
                    <tr>
                        <td class="w-50"><label for="na">Seller Name</label></td>
                        <td><input type="text" style="width: 500px;" id="na" value="{{value.seller_name}}" class="form-control form-control-sm" disabled></td>
                    </tr>
                    <tr>
                        <td class="w-50"><label for="">Seller Address</label>
                        <td><textarea rows="5" style="text-transform: capitalize;" class="form-control form-control-sm"  disabled>{{value.desc}}</textarea></td>

                        </tr>
                    <tr>
                        <td class="w-50"><label for="">Seller Email</label>
                        <td><input type="email" class="form-control form-control-sm" value="{{value.seller_email}}" disabled></td>   
                    </tr>
                    <tr>
                        <td class="w-50"><label for="">Seller Contact Number</label>
                        <td><input type="number" class="form-control form-control-sm" value="{{value.seller_number}}" disabled></td>   
                    </tr>
                </table><br><br>
            </div>
        </div>

        <!-- Buyer Detail -->
        <div class="container">
            <h3>Buyer Details</h3>
            <hr style="border-width: 3px; background-color: black;"><br>

            <table>
                <tr>
                    <td class="w-50"><label for="na">Buyer Name</label></td>
                    <td><input type="text" style="width: 500px;" id="na" value="{{value.buyer_name}}" class="form-control form-control-sm" disabled></td>
                </tr>
                <tr>
                    <td class="w-50"><label for="">Buyer Address</label>
                    <td><textarea rows="5" style="text-transform: capitalize;" class="form-control form-control-sm"  disabled>{{value.buyer_Address}}</textarea></td>

                    </tr>
                <tr>
                    <td class="w-50"><label for="">Buyer Email</label>
                    <td><input type="email" class="form-control form-control-sm" value="{{value.buyer_email}}" disabled></td>   
                </tr>
                <tr>
                    <td class="w-50"><label for="">Buyer Contact Number</label>
                    <td><input type="number" class="form-control form-control-sm" value="{{value.buyer_number}}" disabled></td>   
                </tr>
            </table><br><br>
        </div>
    </div>

        {% include 'footer.html' %}

    </body>
</html>
