{% load static %}
<!-- 
<link rel="stylesheet" href="{% static 'assets/css/templatemo-sixteen.css' %}">
<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
 -->


    <!-- Header -->
    <header class="">
        <nav class="navbar navbar-expand-lg">
          <div class="container">
            <a class="navbar-brand" href=""><h2>Sell <em>Any</em></h2></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="admin_logout" class="btn btn-danger">Logout</a>
                </li>
                <li class="nav-item">
                    <a href="admin_view_all_transaction" class="btn btn-primary" >View all Transaction</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>