{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Sixteen Clothing HTML Template</title>

    <!-- Bootstrap core CSS -->
    
<!--

TemplateMo 546 Sixteen Clothing

https://templatemo.com/tm-546-sixteen-clothing

-->

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'assets/css/templatemo-sixteen.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.css' %}">
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">



            <!-- Login-out alert box script -->
            <script>
              function logoutAlert(event) {
                // Prevent the default action (navigating to 'buyer_logout')
                event.preventDefault();
                
                // Show the alert
                alert("You have loged out......!");
                
                // Optionally, after the alert, you can redirect to the logout page
                // You can use this to navigate after showing the alert
                window.location.href = 'buyer_logout'; // Redirect to the logout page
              }
            </script>

  </head>

  <body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->

    <!-- Header -->
     {% include 'nav_bar_2_seller.html' %}

    <!-- Banner Starts Here -->
    <div class="banner header-text">
      <div class="owl-banner owl-carousel">
        <div class="banner-item-01">
          <div class="text-content">
            <h2 class="text-danger">Hii {{value.name}}</h4>
            <h2>Welcome to our website.</h2>
            <h2>You have a role of selling the products...</h2>
            <h3><a href="seller_products/{{value.id}}">Do you want to see your products which is for sale ?</a></h3>
          </div>
        </div>
      </div>
    </div>
    <!-- Banner Ends Here -->

    <div class="call-to-action">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="inner-content">
              <div class="row">
                <div class="col-md-8">
                  <h4> Hello {{value.username}} Do you want to see the products who purchased.....?</h4>
                  <p> If you would like to see the transaction details you can <a href="seller_transactions" style="font-size:larger; font-weight: 500;">click here</a> 
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>














    <div class="call-to-action">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="inner-content">
              <div class="row">
                <div class="col-md-8">
                  <h4> Hello {{value.username}} you are eligible to sell your products</h4>
                  <p><b><em>Important Note</em>:</b> Please be carefull while selling the products which is not in our terms and condition.
                     If we find you have violated, you will be removed by the admin automatically and have to bear the consiquences. You can sell the 
                     products like vehicle, spare-parts, households, wearings, etc. You can click this button for sell the Items. Have a nice day and enjoy using Sell Any!!....
                  </p>
                </div>
                <div class="col-md-4">
                  <a href="sell_product" class="filled-button">Sell your Product</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="inner-content">
              <p>Copyright &copy; 2020 Sixteen Clothing Co., Ltd.
            
            - Design: TemplateMo</p>
            </div>
          </div>
        </div>
      </div>
    </footer>


    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>


    <!-- Additional Scripts -->
    <script src="{% static 'assets/js/custom.js' %}"></script>
    <script src="{% static 'assets/js/owl.js' %}"></script>
    <script src="{% static 'assets/js/slick.js' %}"></script>
    <script src="{% static 'assets/js/isotope.js' %}"></script>
    <script src="{% static 'assets/js/accordions.js' %}"></script>


    <script language = "text/Javascript"> 
      cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
      function clearField(t){                   //declaring the array outside of the
      if(! cleared[t.id]){                      // function makes it static and global
          cleared[t.id] = 1;  // you could use true and false, but that's more typing
          t.value='';         // with more chance of typos
          t.style.color='#fff';
          }
      }
    </script>


  </body>

</html>
